/* Header.css */
.header {
  background-color: #fff;
  color: white;
  display: flex;
	flex-direction: column;
  justify-content: center;
	padding-bottom: 20px;
}

.logo {
  width: 250px;
  height: auto;
  margin: 20px;
}
